@media screen and (max-width: 576px){
     
   

  .nav-container{
       flex-direction: column;
      
  }
  .logo-container{
    
  }
  .nav-items-container {
      flex-direction: column;
     

      
    
  }
  .nav-items-container a{
     margin-bottom: 30px;
  }
  

}

  