@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@500;600;700&family=Work+Sans&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* navbar styles start */
.nav-container{
    max-width: 1240px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 auto;
}
.logo-container{
    
    width: 50%;
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 80px;
    margin-right: 20px;
}
.logo-container p{
    font-size: 45px;
    color: #0B0223;
    font-weight: 700;
}
.logo-container .logo-text{
    color: #FF42A5;
}
    
.nav-items-container{
   
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.nav-items-container .nav-a{
    text-decoration: none;
    font-size: 1.3rem ;
    color: #3C354F;
    font-weight: 500;
}

.nav-items-container .three-items{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 0.5rem ;
    /* padding-left: 2rem; */
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    
}
.nav-items-container .three-items a{
    margin-right: 2rem;
}
/* navbar styles end */

/* banner section styles start */

.banner-section{
    position: relative;
    height: 600px;
    margin-bottom: 100px;
    
}
.banner-section img{
    height: 100%;
}

.banner-container{
    width: 1340px;
    height: 600px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    top: 0px;
    
}
.banner-text-content{
    width: 340px;
    height: 700px;
    border: 2px solid ;
    position: relative;
    margin-right: 300px;
    margin-bottom: 1200px;
}
    
    
 
    
.banner-text-content h2{
    font-size: 46px;
    color:  #0B0223;
    text-transform: uppercase;
    
    line-height: 0px;
    margin-top: 150px;
    
}
.banner-text-content h1{
    font-size: 95px;
    font-weight: 800;
    background:  linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}
    
.banner-text-content ul li {
    list-style-type: none;
    /* margin-right: 50px;
    margin-left: 0px;
    margin-top: 0px; */
    padding-right: 100px;
    
    
    
    
}
    


.banner-text-content ul li:hover{
    cursor: pointer;
}

    
.banner-text-content .btn-sign{
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #fff;
    border: none;
    margin-right: 20px;
    margin-top: 0px;
}
.btn-sign:hover{
    color: #0B0223;
    background: #F948B2;
    cursor: pointer;
}
.banner-text-content .btn-go{
    padding: 10px 20px;
    border-radius: 48px;
    border: none;
    background-color: #4EC5F7;
}

    

.btn-go:hover{
    background-color: #8758F1;
    color: #fff;
    cursor: pointer;
}
    
.banner-image-content{
    width: 600px;
    height: 600px;
    border: 2px solid;
    position: relative;
    margin-bottom: 1200px;
    margin-right: 0px;
    
    
    
}
.banner-image-content img{
    width: 100%;
    height: 100%;
}
/* banner section styles end */
    
    
/* online game section styles start */
.online-game {
    margin-bottom: 200px;
    
    
}
.card-title{
    text-align: center;
}
.cards{
    width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}
    
.card-title h2{
    font-size: 40px;
    color: #0B0223;
    font-weight: 700;
    text-align: center;
    
}
.card-title h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
}
.online-game p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    
}

.card-1 {
    width: 280px;
    height: 350px;
    border-radius: 15px;
    
}
.card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* .play-now img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}     */

.card-1:hover{
    border-radius: 15px;
    box-shadow: 0px 0px 30px #1c5d79;
    
}
    
/* online game section styles end */
    
    
    
/* play game section styles start */


.game-section{
    margin-bottom: 100px;
}

.game-container{
    width: 1240px;
    height: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-content-img{
    width: 50%;
    height: 100%;
}
.image-big{
    width: 610px;
    height: 550px;
}
    
.image-small{
    width: 250px;
    height: 300px;
    position: relative;
    bottom: 220px;
    left: 460px;
    
}
.image-big img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.image-small img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.game-content-title{
    text-align: left;
    width: 470px;
    height: 400px;
}
    
.game-content-title h2{
    font-size: 40px;
    color: #0B0223;
    font-weight: 700;
}
.game-content-title span{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}    
.game-content-title p{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
}    
    
/* play game section styles end */

/* button section styles start */
.button-section{

    border: 2px solid red; min-width: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}



.button-container{
    max-width: 1400px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    

}
.button-group1{
    margin-bottom: 50px;
    
    
    
}
.button-group2{
    margin-bottom: 100px;

}


.button-group1, .button-group2, button{
    /* border: 2px solid red; */
    font-size: 20px;
    font-weight: 600;
    color: #0B0223;
    border: none;
    background: #fff;
    margin-right: 20px;
    
    
}
.btn-arcade{ 
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}   

/* button section styles end */




/* footer styles start */
footer{
    background-color: #0B0223;
    
}
.footer-section {
    text-align: center;
    padding: 100px;
    
}
.footer-section h3{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    
    
    
}
.footer-section h3 span{
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.footer-section, .link-1, a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-right: 40px;
    
}
 a:hover{
    text-decoration: underline;
    color: #fff;
    
}

.footer-section .link-2 a i {
    font-size: 40px;
    color: #fff;
    margin: 30px 5px;
}
    
.footer-section .link-3 a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
    
.footer-section .link-2{
    padding: 30px;

}
.footer-section p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}


/* footer styles end */
    
    
    
    
    










    
    
    



    
    
    


    
    
    
    


    


    


    
    
    
     






    
    
    
    
    
    


   

    
    
   

    
   
    
    








    
    
    
    
    

    
    

    
    





    
    
    
    
    

    
    
    



    

    



    
    
    
    
    


    
    
    
    


   
    

    
    



    
    
    
    





